
.container{
    background-color: bisque;
    max-width: 800px;
    margin: 0 auto;
    
}

.header{
    background-color: brown;
    height: 60px;
}
.wrapper{
    background-color: chartreuse;
    display: flex;
   
 

}
.menu{
    background-color: coral;
    color: white;
    width: 30%;
    
    
}
.content{
    background-color: darkcyan;
    width: 70px;
    color: black;
    
    
   
}
.footer{
    background-color: deeppink;
    /* clear: both; */
}