
.container{
    background-color: bisque;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
grid-template-areas: "header menu ";
    
}

.header{
    background-color: brown;
    height: 60px;
    grid-area:  "header header header"
    "menu content content"
    "footer footer footer";
}

 


.menu{
    background-color: coral;
    color: white;
    width: 30%;
    grid-area: menu;
    
    
}
.content{
    background-color: darkcyan;
    width: 70px;
    color: black;
    
    
   
}
.footer{
    background-color: deeppink;
   grid-area: foot;
}